/* General Styles */

body{
  text-align: center;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h1{
  font-weight: 700;
}

h2{
  padding: 0 0 2rem 0;
  font-weight: 600;
}

h3{
  font-weight: 300;
}

hr{
  color: #FFF;
}

p{
  padding: 10px 0 0 0;
}

ul{
  list-style: none;
}



.container-fluid{
  padding: 3% 15% 7%;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

/* Header Section */

.navbar-nav > li{
  padding: 0 20px 0 20px;
}

/* Quick Intro section */

#Quick_Intro{
  /* padding-top: 10rem; */
  color: #fff;
}

.button_Quick_Intro:hover{
  background-color: #fff;
  color: #000;
}

/* Skills section */

#Skills{
  padding-top: 20px;
  color: #fff;
}

.skills-grid{
  border: 0.5px solid #FFF;
}

 .Front::before{
  color: #EE6969;
  content: '🠒';
}

.Back::before{
  color: #31C0EF;
  content: '🠒';
}

.Languages::before{
  color: #62F38F;
  content: '🠒';
}
/* Experience Section */
#Experience{
  padding-top: 20px;
  color: #fff;
}


.accordion-toggle.collapsed {
  background-color: green;
}

.badge{
  visibility: hidden;
}

.accordion-button:focus .badge{
  background-color: #FD9E93;
  visibility: visible;
  margin:0 0 0 10px;
}

.accordion-button:hover{
  background-color: #D5F5E3;
}

/* Projects section */

#Projects{
  padding-top: 20px;
  color: #fff;
}

#Projects > .btn{
  padding: 10px;
}

.b-code{
  margin-left: 10px;
}

.b-live{
  margin-right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #000;
}

/* Education section */

li{
  margin: 0 0 3px 0;
}

.list-group-item{
  border: none;
  color: #fff;
  background-color: #212529;
}

.Education_list{
position: absolute;
}

.Education_Projects{
  width: 65em;
  height: 180px;
  overflow: scroll;
  margin: 0 0 0 200px;
  position: relative;
}

@media (max-width: 1447px) {
    .Education_Projects{
      width: 35em;
    }
}

.Education_Projects::-webkit-scrollbar {
  width:10px;
  background-color: #212529;
}

.Education_Projects:-webkit-scrollbar-thumb{
    background: #FFF;
    border-radius:5px;
  }

#About_Me{
  color: #fff;
}

.image-profile{
  padding-right: 30px;
  width: 30%;
  height: 30%;

}

.fa-brands{
  /* width: 20%; */
  font-size: 30px;
  padding: 20px 20px 0 0;
  color:#FFF;
}


/* Contact me section */
#Contact_Me{
  color: #fff;
}
/* Footer section */

#Footer{
color: #fff;
}
