/* General Styles */

.dark-mode{
  text-align: center;
  background-color: #212529;
  color: #fff;
  transition: 0.3s;
}

.light-mode{
  text-align: center;
  background-color: #FFF;
  color: #000 ;
  transition: 0.3s;
}

h1, h2, h3, h4, h5, hr{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 700;
}

h2{
  padding: 0 0 2rem 0;
  font-weight: 600;
}

h3{
  font-weight: 300;
}

p{
  padding: 10px 0 0 0;
}

ul{
  list-style: none;
}

/* ID and class general Styles */

#Quick_Intro, #Skills, #Experience, #Projects, .list-group-item,
#About_Me, #Contact_Me, #Footer, .fa-brands{

}

.container-fluid{
  padding: 3% 15% 7%;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

.Btn-Li{
  background-color: #fff;
  color: #000;
}

.Btn-Da{
  background-color: #000;
  color: #FFF;
}
/* Header Section */

.navbar-nav > li{
  padding: 0 20px 0 20px;
}

/* Quick Intro section */


.button_Quick_Intro:hover{
  background-color: #fff;
  color: #000;
}

/* Skills section */

#Skills{
  padding-top: 20px;
}

.skills-grid-dark{
  border: 0.5px solid #FFF;
}

.skills-grid-light{
  border: 0.5px solid #000;
}

 .Front::before{
  color: #EE6969;
  content: '🠒';
}

.Back::before{
  color: #31C0EF;
  content: '🠒';
}

.Languages::before{
  color: #62F38F;
  content: '🠒';
}
/* Experience Section */
#Experience{
  padding-top: 20px;
}

.accordion-item{
  background-color: #212529;
  color: #fff;
}


.accordion-toggle.collapsed {
  background-color: green;
}

.badge{
  visibility: hidden;
}

.accordion-button:focus .badge{
  background-color: #FD9E93;
  visibility: visible;
  margin:0 0 0 10px;
}

.accordion-button:hover{
  background-color: #D5F5E3;
}

/* Projects section */

#Projects{
  padding-top: 20px;
}

#Projects > .btn{
  padding: 10px;
}

.b-code{
  margin-left: 10px;
}

.b-live{
  margin-right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #000;
}

/* Education section */

li{
  margin: 0 0 3px 0;
}

.list-group-item{
  border: none;
  background-color: #212529;
  color: #fff;
}

.dark_list{
  background-color: #fff;
  color: #000;
}

.Education_list{
position: absolute;
}

.Education_Projects{
  width: 65em;
  height: 180px;
  overflow: scroll;
  margin: 0 0 0 200px;
  position: relative;
}

@media (max-width: 1447px) {
    .Education_Projects{
      width: 35em;
    }
}

.Education_Projects::-webkit-scrollbar {
  width:10px;
  background-color: #212529;
}

.Education_Projects:-webkit-scrollbar-thumb{
    color: #FFF;
    border-radius:5px;
  }


.image-profile{
  padding-right: 30px;
  width: 30%;
  height: 30%;

}

.fa-brands{
  /* width: 20%; */
  font-size: 30px;
  padding: 20px 20px 0 0;
}


/* Contact me section */
#Contact_Me{

}

/* Footer section */

#Footer{
}
