/* General Styles */

body{
  text-align: center;
  background-color: #D0D0D0 ;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: 700;
}

h2{
  padding: 0 0 2rem 0;
  font-weight: 600;
}

h3{
  font-weight: 300;
}

hr{
  width: 20%;
  border: none;
  border-top: 20px dotted #FF7F50;
  background: none;
}

p{
  padding: 10px 0 0 0;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Header Section */

.navbar-nav > li{
  padding: 0 20px 0 20px;
}

/* Quick Intro section */

#Quick_Intro{
  padding-top: 10rem;
}

.button_Quick_Intro:hover{
  background-color: #fff;
  color: #000;
}

/* Skills section */

#Skills{
  background-color: #fff;
}

.skills-grid{
  border: 0.5px solid #000;
}

/* Experience Section */
#Experience{
  padding-top: 20px;
}

#Experience_Accordion > .accordion-item{
  background-color: #D4D4B6;
}

.accordion-button:hover{
  background-color: #D5F5E3;
}

/* Projects section */

#Projects{
  background-color: #fff;
}

#Projects > .btn{
  padding: 10px;
}

/* Education section */

li{
  margin: 0 0 3px 0;
}

.list-group-item-action, .list-group-item{
  background-color: #D0D0D0;
  border: none;

}

.Education_list{
position: absolute;
}

.Education_Projects{
  width: 65em;
  height: 180px;
  overflow: scroll;
  margin: 0 0 0 200px;
}
